* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgb(50, 0, 56), rgb(122, 0, 136));
  color: #fff;
  padding: 50px;
}

.cardBx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.card {
  border-radius: 10px;
  position: relative;
  margin: 20px 12px;
  padding: 30px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background: transparent; */
  background-image: linear-gradient(-45deg, rgb(50, 0, 56), rgb(122, 0, 136));
  box-shadow: 1px 1px 5px rgba(245, 224, 245, 0.8),
    inset -2px -2px 15px rgba(122, 0, 136, 0.7);
  filter: blur(3px);
  z-index: -1;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}
